* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Volkhov;
}
@media (max-width:769px){
header {
  width: 100%;
  position: fixed;
  background-color: white;
}
nav {
  background-color: white;
  width: 100%;
 transform: scale(1,0);
}
nav ul li a {
  margin-top: 3em;
  margin-bottom: em;
  margin-left: 1em;
}

nav ul li {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: #727273;
  opacity: 0;
  transition: opacity 150ms ease-in-out ;
}
nav a:hover {
  color: #9a9cc2;
}
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  transform-origin: top;
  transition: 400ms ease-in-out;
}
.nav-toggle:checked ~ nav a{
  opacity: 1;
   transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  margin-top: -30px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
}
@media (min-width: 770px) {
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #dddddd;
  }
  nav ul li {
    flex-direction: row;
    justify-content: center;
  }
  nav ul li a {
    text-decoration: none;
    color: #727273;
    font-size: 21px;
    margin-right: 40px;
  }
  nav ul li a:hover {
    color: #9a9cc2;
  }
  nav{
    padding-block: 60px;
  }
  .nav-toggle-label{
    display: none;
  }
  .nav-toggle {
  display: none;
}

  footer {
    margin-top: 5em;
    border: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #dddddd;
    border-bottom: none;
    text-align: center;
  }
}
