* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Volkhov;
}
body {
  height: 1200px;
}
header {
  margin-block-start: 3em;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  border: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: #dddddd;
}

nav ul li a {
  text-decoration: none;
  margin-inline-start: 5em;
  color: #727273;
  font-size: 21px;
}
nav ul li a:hover {
  color: #9a9cc2;
}
footer {
  margin-top: 5em;
  border: solid;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: #dddddd;
  border-bottom: none;
}
